<div class="container">
    <h1>Welcome to the JobLister!</h1>
      <img src="https://www.thesslstore.com/blog/wp-content/uploads/2020/01/fake-jobs.jpg" alt="Jobs Picture" width="600" height="500">
  </div>
  <div class="content">
    <p>Welcome to the JobLister App! The focus of this application is to post jobs, and find jobs you would be interested in.  Signup to create an account, and then Login or Login with Google to get started.</p>
  </div>
</html>



    
