<% if @job %>
    <h1>Reviews for <%= @job.title %></h1>
<% else %>
    <h1>All Reviews</h1>
<% end %>

<ul>
<% @reviews.each do |r| %>
    <li><%= r.user.username %> says "<%= r.content %>" about this post: <strong><%= link_to r.job.title, job_path(r.job_id) %></strong></li>
<% end %>
</ul>